
header{
    font-size: large;
    font-style: italic;
    text-align: center;
    color: white;

}
table {
  border: 1px solid #3b39a8;
  border-collapse: collapse;            
  padding: 10px;
  width: 100%;
}
th, td {
  border: 1px solid #3b39a8;
  border-collapse: collapse;
  font-size: large;
  font-style: italic;
  text-align: left;
  color: white;
  padding: 10px;
}
body{
    background-color: #ece1ec;
    background-image: url("blackscreen.jpeg");
}
h2{
    color:rgb(193, 180, 211);
}

div{
    width: 100%;
    height: 600px;

}
p{
    padding: 5px;
    padding-left: 15px;
    color:rgb(193, 180, 211);
}
footer{
    margin-top: 20px;
    margin-bottom: 0;
}
li{
    font-size: large;
    font-style: italic;
    text-align: left;
    color: white;
}
.icones{
    border: none;
    text-align: center;
}